.products {
  display: grid;
  height: 100%;
  /* flex-direction: row; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 10px auto;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prev-page,
.next-page {
  height: 50px;
  margin: auto;
  outline: none;
}
