.container {
  width: 100vw;
  height: 80vh;
}
.about--img {
  /* width: 50%;

  min-height: 100%; */

  order: 1;
  height: 100%;
  background: url("../../assets/img/about.webp") no-repeat center center/cover;
}

.about {
  font-family: KiriFont;
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 80vh;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.about--info {
  order: 2;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
